.logo{
    width: 125px;
}

.hero-section{
    background-image: url('../images/image-banner.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 200px;
}

.logoleft{
    width: 125px;
    padding: 100px;
    text-align: center;
}

div img{
    width: 300px;
}

footer a img{
    width: 125px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.profilephoto{
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 25px;
    width: 70px;
    border-radius: 50%;
    align-items: center;
}